.containerDetails {
  width: 100%;
  /* background-color: rosybrown; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imgNameId {
  width: 60%;
  margin-bottom: 20px;
  /* background-color: royalblue; */

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.NameId {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
}

.NameId>h2 {
  font-size: 3rem;
  text-transform: uppercase;
  text-align: left;
}

.textDetail {
  width: 40%;
  /* background-color: seagreen; */
}

.text1 {
  font-size: 1.5rem;
  margin-left: 1rem;

  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 0.5rem;
}
.containerAct {
  margin-top: 20px;
  width: 60%;
  /* background-color: slategrey; */
}
.containerAct > h4 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.containerAct2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}
.activityCard {
  /* background-color: tomato; */
  width: 25%;
  height: 5rem;
  border-radius: 5px;
  box-shadow: 0px 0px 9px 0px rgba(163, 158, 161, 0.502);
  text-align: left;
  padding-left: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
}